<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Library Website</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <style>
    body {
      background-image: url('https://storyblok-image.english1.com/unsafe/1200x600/filters:focal(603x501:604x502):quality(90)/f/60990/1200x666/34093b645f/perpustakaan.jpg');
      background-size: cover;
      background-position: center;
    }
  </style>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Library Website</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="books">Book Catalog</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="card text-center" style="width: 30rem; background-color: rgba(255, 255, 255, 0.8);">
      <div class="card-body">
        <h1 class="display-4">Welcome to Our Library</h1>
        <p class="lead">Explore our collection of books, articles, and resources.</p>
        <a href="books" class="btn btn-primary btn-lg">View Book Catalog</a>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>